:root {
  --font-family: 'Karla', sans-serif;
  --font-color: #ffffff;
  --grad1: #feda75;
  --grad2: #fa7e1e;
  --grad3: #d62976;
  --grad4: #962fbf;
  --grad5: #4f5bd5;
  --viewed: gray;
  --bg-main: #000000;
  --bg-live: red;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--bg-main);
  color: var(--font-color);
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stories-menu {
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  gap: 30px;
}

.story {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.new > .img-wrapper {
  background: linear-gradient(
    to top right,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4),
    var(--grad5)
  );
}

.viewed > .img-wrapper {
  background: var(--viewed);
}

.img-wrapper {
  height: 60px;
  width: 60px;
  padding: 4px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
}

.img {
  height: 100%;
  border-radius: 50%;
  border: 2px solid black;
}

.live::after {
  content: 'LIVE';
  font-size: 0.5em;
  font-weight: bold;
  background: var(--bg-live);
  border: 2px solid black;
  border-radius: 2px;
  width: 20px;
  padding: 2px 4px;
  position: absolute;
  top: 60%;
  margin: auto;
  left: 0;
  right: 0;
}
