html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --font-family: 'Karla', sans-serif;
  --spinner: #f3f3f3;
  --spinner-active: purple;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 100px;
  width: 100px;
  border: 1em solid var(--spinner);
  border-radius: 50%;
  border-top: 1em solid var(--spinner-active);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
