html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: #000000;
}

:root {
  --font-family: 'Karla', sans-serif;
  --white: #ffffff;
  --red: #bc022c;
  --flag-hw: 400px;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flag-japan {
  height: var(--flag-hw);
  width: calc(var(--flag-hw) * 1.5);
  background: var(--white);
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: calc(var(--flag-hw) * 3 / 5);
  width: calc(var(--flag-hw) * 3 / 5);
  background: var(--red);
  border-radius: 50%;
}
