html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --font-family: 'Karla', sans-serif;
  --color-light: lightgray;
  --color-dark: darkgray;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2em;
  width: 80%;
  margin: auto;
  min-width: 320px;
}

.circle {
  height: 1.5em;
  width: 1.5em;
  background: #000;
  margin: 0.5em;
  border-radius: 50%;
  animation: pulse infinite 1s;
}

@keyframes pulse {
  from {
    background: var(--color-dark);
  }

  to {
    background: var(--color-light);
    height: 1.6em;
    width: 1.6em;
  }
}
