html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  font-family: var(--font-family);
}

:root {
  --font-family: 'Karla', sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-colorS: #6a0d83;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-border {
  background: linear-gradient(
    115deg,
    #eeaf61,
    #fb9062,
    #ee5d6c,
    #ce4993,
    #6a0d83
  );
  padding: 2px;
}

.button {
  cursor: pointer;
  border: none;
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 1em 1.5em;
  font-family: inherit;
  letter-spacing: 0.1em;
}

.button-border:hover {
  background: linear-gradient(
    230deg,
    #eeaf61,
    #fb9062,
    #ee5d6c,
    #ce4993,
    #6a0d83
  );
}

.button-border:hover .button {
  color: var(--btn-color-hover);
  padding: 1em 1.6em;
}
