:root {
  --font-family: 'Karla', sans-serif;
  --stage-1: 25%;
  --stage-2: 50%;
  --stage-3: 75%;
  --stage-4: 100%;
  --progbar-bg: lightgray;
  --stage-1-bg: red;
  --stage-2-bg: orangered;
  --stage-3-bg: greenyellow;
  --stage-4-bg: green;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.container {
  width: 80%;
  margin: 60px auto;
}

.progress-bar {
  height: 40px;
  background: var(--progbar-bg);
  border-radius: 20px;
}

.prog-status {
  height: 40px;
  border-radius: 20px;
}

.stage-1 {
  width: var(--stage-1);
  background: var(--stage-1-bg);
}

.stage-2 {
  width: var(--stage-2);
  background: var(--stage-2-bg);
}

.stage-3 {
  width: var(--stage-3);
  background: var(--stage-3-bg);
}

.stage-4 {
  width: var(--stage-4);
  background: var(--stage-4-bg);
}
